<div class="wrapper form-wrapper col-md-8 offset-md-2 text-center">
  <%= form_for @contest do |f| %>
    <%= @contest.errors.full_messages %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    <br />

    <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
    <br />

    <%= f.label :technology %>
    <%= f.select :technology_id, options_from_collection_for_select(current_user.userable.technologies, :id, :name), {}, class: 'form-control'  %>
    <br />

    <%= f.label :deadline %>
    <%= f.date_field :deadline, class: 'form-control' %>

    <%= f.submit 'Create a contest', class: 'btn btn-default  form-control' %>
  <% end %>
</div>
