<div class="wrapper text-center col-md-8 offset-md-2 form-wrapper">
  <h1><%= @contest.title %></h1>
  <p><%= @contest.description %></p>

  <%= render 'contest_info', contest: @contest %>
  <br/>

  <% if current_user == @contest.recruiter.user %>
    <%= link_to "View submissions", contest_submissions_path(@contest), class: 'btn btn-default' %>
    <br />
    <%= link_to "Add new test case", new_contest_test_case_path(@contest), class: 'btn btn-success' %>    
  <% end %>
</div>

<% if current_user.contestant? %>
  <%= render 'submissions/form' %>
<% end %>
