<div>
  <h1 class="heading text-center">Submission <%= @submission.id %></h1>
  <h3 class="text-center">Author: <%= link_to  @submission.contestant.user.username, @submission.contestant %></h3>
  <h3 class="text-center">
    Score:

    <% if @submission.points == @contest.max_points %>
      <span class="text-success">
    <% elsif @submission.points > 0 && @submission.points < @contest.max_points %>
      <span class="text-warning">
    <% else %>
      <span class="text-danger">
    <% end %>
        <%= @submission.points %> / <%= @submission.contest.max_points %>
      </span>

  </h3>
  <br/>
  <!--<pre><code><%=j @submission.source %></code></pre>-->
  <div class="source-code"><%= markdown(@submission.source)%></div>

</div>
