<% @schools.each do |school| %>
  <div class="card">
    <div class="card-title">
      <h3 class="heading"><%= school.name %></h3>

      <% unless school.website.nil? %>
        <div class="text-muted">
          <i>Website:</i>
          <%= link_to school.website, school.website %>
        </div>
      <% end %>

      <div class="text-muted">
        <i>Email:</i>
        <%= mail_to school.user.email %>
      </div>

      <div class="text-muted">
        <i>Points:</i>
        <%= school.points %>
      </div>
    </div>
    <%= link_to 'View school info', school, class: 'btn btn-default' %>
  </div>
<% end %>
