<%= form_for @school do |f| %>
  <% if @school.errors.any? %>
      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.fields_for :user do |user_form| %>
    <%= render 'devise/registrations/form', f: user_form %>
  <% end %>

  <%= f.text_field :name, placeholder: 'School name', class: 'form-control' %>
  <br/>

  <%= f.text_field :website, placeholder: 'Website (ex. "https://example.com")', class: 'form-control' %>
  <br/>

  <%= f.submit 'Register as school', class: 'btn btn-default form-control' %>
<% end %>
