<%= form_for @recruiter do |f| %>
  <% if @recruiter.errors.any? %>
      <ul>
      <% @recruiter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.fields_for :user do |user_form| %>
    <%= render 'devise/registrations/form', f: user_form %>
  <% end %>

  <%= f.text_field :company_name, placeholder: 'Company name', class: 'form-control' %>
  <br />

  <%= f.text_field :website, placeholder: 'Website (ex. https://example.com)', class: 'form-control'%>
  <br />

  <%= f.label :technology_ids, value: 'Technologies' %>
  <%= f.select :technology_ids, options_from_collection_for_select(Technology.all, :id, :name), {}, { :multiple => true, class: 'form-control' } %>

  <%= f.submit yield(:btn_text), class: 'form-control btn btn-default' %>
<% end %>
